@import "./styles/reset.css";
@import "./styles/scroll.css";
@import "./styles/scales.css";
@import "./styles/colors.css";
@import "./styles/shadow.css";
@import "./styles/fonts.css";

body {
  background-color: var(--bg-main);
  color: var(--t-sec);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--l-bg-main);
    color: var(--l-t-sec);
  }
}

#main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
